.eror-page {
  height: 100vh;
  background-image: url(https://i.ibb.co/N3d1xBQ/ed5c5ece8f4ca518c02b80c1896b63e5-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
}
